.content{
  max-width: 1080px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;

}
.description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 20px;
  font-style: italic;
}
.description span{
  font-size: 1rem;
  font-weight: 700;
  font-style: normal;
  font-variant: small-caps;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 20px;
}



.attrImage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap:20px;
  }
  .color{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
    width:100px;
    height:40px;
    background: #fff;
  }
  .images{
    font-size: 1rem;
    height:40px;
    font-weight: 700;
    font-style: normal;
    font-variant: small-caps;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;    
    gap:5px;
  }
  .images a, a:visited, a:active, a:hover{
    font-variant: normal;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
  }
    .images a:hover{
        text-decoration: underline;
    }