.wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: center; 
    height: 100%;
    width: 100%;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.custom-cursor {
    cursor: url(../assets/car.png) 25 12, auto;
  }