/* Heart.module.css */
.heartContainer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 20px;
    right: 20px;
    color: black
  }
  
  .heart {
    width: 30px;
    height: 24px;
    margin-right: 10px;
    fill: red;
  }
  